html body{
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(14, 13, 13);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    flex-direction: column; 
    border: 2px solid transparent;
    border-radius: 2rem;
    margin: 0 auto;
    color: white;
    background-color: transparent;
    min-width: 310px;
    font-family: monospace;
    overflow-wrap: anywhere;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;  
    padding: 5rem;
    border: 2px solid;
    border-radius: 30px;
    border-color: rgb(111, 135, 158);
    text-shadow: 1px 1px 1px rgb(136, 165, 179);  
}

form:hover{
    border-width: 1px;
    transition: ease-in;
    text-shadow: 1px 1px 1px rgb(1, 129, 248), 1px 1px 1px rgb(1, 129, 248);
    box-shadow: 5px 5px 5px rgb(1, 129, 248), 
    -5px -5px 5px rgb(4, 133, 253);
}

form a:hover{
    text-shadow: 1px 1px 1px rgb(1, 38, 248), 1px 1px 1px rgb(1, 38, 248);
    text-decoration: none;
}

.container h4{
    color:rgb(4, 133, 253);
    text-shadow: 2px 2px 30px;
}

#verificar {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgb(236, 236, 236);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color:rgb(0, 0, 0);
    width: 20rem;
    height: 15rem;
  }

  #verificar input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    justify-content: center;
  }

  #verificar button {
    max-width: 10rem;
}

#ir{
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgb(236, 236, 236);
    color:rgba(0, 0, 0, 0.712);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    gap: 5px;
}
