html body {
    margin: 0 auto;
    background-color: rgb(14, 13, 13);
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex; 
    justify-content: end;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
}
.navbar li{
    padding: 10px;
}

li:hover{
    opacity: 80%;
}

aside{
    flex-direction: column;
    height: 32.5rem;
    justify-content: center;
}

footer {
    position: relative;
    justify-content: space-around; 
    bottom: 0;
    margin-top: auto;
    background-color: rgb(20, 19, 19);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

footer p{
    margin: 5px 5px 5px 5px;
}